*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: ':Poppons' ,sans-serif;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: rgba(0, 0, 0, 0.2)url(image.jpeg);    
    background-size: cover ;
    background-position: center;
    background-blend-mode: darken;
}

header { 
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 99;
}

.logo {
    font-size: 2em;
    color: #03121e;
    user-select: none;  
}

.navigation a {
     position: relative;
    font-size: 1.1em;
    color: #03121e;
    text-decoration: none;
    font-weight: 500;
    margin-left: 40px;
}

.navigation a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 100%;
    height: 3px;
    background: #03121e;
    border-radius: 5px;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .5s;
}

.navigation a:hover::after {
    transform-origin: left;
    transform: scaleX(1);
}

.navigation .btnHome-popup {
    width: 130px;
    height: 50px;
    background: transparent;
    border: 2px solid #03121e;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1.1em;
    color: #03121e;
    font-weight: 500;
    margin-left: 40px;
    transition: .5s;
}

.navigation .btnHome-popup:hover {
    background: #c5c2e6;
    color: #03121e;
}


.box-main {
    display: flex;
    justify-content: center;
    align-items: center;
    color:#03121e;
    max-width: 50%;
    margin: auto;
    height: 80%;
   }
 
   
   .text-big {
    font-weight: bold;
    font-size: 41px;
    text-align: center;
   }
 
   .text-small {
    font-size: 30px;
    text-align: center;
   }